DATABASE_URL=postgresql://USER:PASSWORD@matching-db:5432/DB_NAME
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_NAME=telegram-crawler
OPENAI_API_KEY=
CRAWLER_KEYWORDS=помощь в Германии,жизнь в Германии,вопросы Германия,expats germany,life in germany,moving to germany
CRAWLER_INTERVAL_SECONDS=1800
LOG_LEVEL=INFO
